<div>
  <img id="film" alt="immagine Film" src="https://citynews.stgy.ovh/~shared/images/cinema/locandine/the-whale-versione-originale-1hr6vl.jpg">
</div>
<div id="layoutComplessivo">

  <div id="layoutSinistro">
    <div id="titolo">Titolo</div>
    <div id="descrizione">Descrizione</div>

    <div id="iconePulsanti">
      <div>
        <div>Aggiungi ai preferiti</div>
        <img class="icon" alt="immagine aggiungi ai preferiti" src="assets/addIcon.jpg">
      </div>
      <div>
        <div>Guarda il Film</div>
        <img class="icon" alt="immagine aggiungi ai preferiti" src="assets/playIcon.png">
      </div>
      <div id="recenzione">
        recenzione
      </div>
    </div>

    <div id="attori">Attori</div>
  </div>
  <div id="layoutDestro">
    <div>serietv</div>
  </div>

</div>
