<header>
  <div class="wrapper">
    <div class="logo">
      <img src="assets/logoNetFlex.png" alt="logoNetFlex" width="90rem" height="40rem">
    </div>
    <nav>
      <ng-container *ngFor="let item of navItems">
        <app-nav-item [item]="item"></app-nav-item>
      </ng-container>
    </nav>
    <a routerLink="search"><img src="assets/search.png" alt="" width="20px" height="20px"></a>
    <div class="account">
      <div class="label">profilo</div>
      <div class="list"></div>
    </div>
  </div>
</header>


