.container{
  height: 3rem;
  display: grid;
  grid-template-columns: 5rem auto 4rem 4rem;
  gap: 1rem;
  align-content: center;
  background-color: darkslateblue;

}
.container *{
  color: white;
}
nav{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
