.container{
  height: 3rem;
  display: grid;
  grid-template-columns: 10rem auto 4rem 4rem;
  gap: 1rem;
  align-items: center;
  background-color: darkslateblue;

}
.container *{


}
nav{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

a:hover{
  color: black;
}
a{
  color: white;
  text-decoration: none;
}
