
<div class="wrapper">
<div *ngIf="contenuti$|async as contenuti">
</div>
<div class="card" >
  <h3 class="generi">{{genere.nome}}</h3>
  <p-carousel [value]="movies" [numVisible]="3" [numScroll]="3" [circular]="true"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-movies pTemplate="item">
      <div class="border-1 surface-border border-round m-2 text-center ">

        <div class="mb-3 hoverToShow">
          <a [routerLink]="'details/'+movies.id">
            <img src="{{movies.url}}" width="290px" [alt]="movies.title" class="w-6 shadow-2 " />
          </a>

        </div>
        <div class="row showDetails">
          <div class="col d-flex flex-row-reverse">
            <p-button type="button" (onClick)="addPreferito(movies.id)" styleClass="p-button p-button-rounded" icon="pi pi-star"></p-button>
          </div>
          <div class="col-12 ">
            <h4 class="mb-1">{{ movies.title }}</h4>
            <h6 class="mt-0 mb-3">{{movies.description }}</h6>
          </div>
        </div>

      </div>
    </ng-template>
  </p-carousel>
</div>
</div>
