

:host ::ng-deep {
  .product-item {
      .product-item-content {
          border: 1px solid var(--surface-d);
          border-radius: 3px;
          margin: .3rem;
          text-align: center;
          padding: 2rem 0;
      }

      .product-image {
          width: 50%;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
      }
  }
}
.generi{
  font-size: 25px;
  margin-bottom: 1rem;
}
.showDetails{
  visibility: hidden;
}

.hoverToShow:hover{
  opacity: 0.5;
}
.surface-border:hover .showDetails{
  visibility: visible;
}
.wrapper{
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}


