<div class="container">
  <div class="row p-5">
    <div class="col-3">
      <img width="60%"
        src="https://previews.123rf.com/images/kritchanut/kritchanut1509/kritchanut150900225/45616483-icona-uomo-d-affari-pu%C3%B2-essere-utilizzato-come-avatar-o-immagine-del-profilo.jpg"
        alt="">
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
          <h1 class="h1 ">Nome Utente</h1>

        </div>
      </div>
      <div class="row mt-5">
        <div class="col h4">
          Età Utente:<span>value</span>
        </div>
        <div class="col h4">
          Username:<span>value</span>
        </div>
      </div>


    </div>
    <div class="row mt-5">
      <div class="container col-9">

        <div class="text-center h4">Descrizione</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, natus repellat. Ullam enim accusamus
          explicabo deleniti voluptate ea earum repudiandae, nostrum aliquam quisquam. Voluptatum nemo porro fugiat hic,
          corporis suscipit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, natus repellat. Ullam enim accusamus
          explicabo deleniti voluptate ea earum repudiandae, nostrum aliquam quisquam. Voluptatum nemo porro fugiat hic,
          corporis suscipit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, natus repellat. Ullam enim accusamus
          explicabo deleniti voluptate ea earum repudiandae, nostrum aliquam quisquam. Voluptatum nemo porro fugiat hic,
          corporis suscipit.</p>
      </div>



    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <button class="btn btn-danger btn-lg">Button</button>

      </div>
    </div>
  </div>
</div>
